*,
*::before,
*::after{
    box-sizing: border-box;
}

/*custom properties*/

:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary:'Poppins', sans-serif;

    --fw-regular:300;
    --fw-bold:900;

    --light-clr:#fff;
    --dark-clr:black;
    --accent-clr:#40E0D0;

    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;

    --bs: 0.25em 0.25em 0.75em rgb(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,0.15);

}

@media(min-width:800px){
    :root{
    --fs-h1:4.5rem;
    --fs-h2:3.75rem;
    --fs-h3:1.5rem;
    --fs-body:1.125rem;
    }
}

/*General styles*/

body{
    background: var(--light-clr);
    color:var(--dark-clr);
    margin:0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.5;
}

section{
    padding: 5em 2em;
}


img{
    display: block;
    max-width: 100%;
}

/* button design*/
.btn{
display: inline-block;
padding: .5em 2.5em;
background: var(--accent-clr);
color: var(--dark-clr); 
text-decoration: none;
cursor: pointer;
font-size: .8rem;
text-transform: uppercase;
letter-spacing: 2px;
font-weight: var(--fw-bold);
transition: transform 200ms ease-in-out;
border-radius:10px;
}

.btn:hover{
    transform: scale(1.1);
}

:focus{
    outline: 3px solid var(--accent-clr);
    outline-offset: 3px;
}

strong{
    font-weight: var(--fw-bold);
}

/* Typography */

h1,h2,h3{
    line-height: 1;
    margin:0;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}

.section__tittle{
    margin-bottom: 0.25em;

}

.section__tittle--intro{
    font-weight: var(--fw-regular);
}

.section__tittle--intro strong{
    display: block;
}

.section_subtitle{
   margin: 0;
   font-size: var(--fs-h3); 
}

.section__subtittle--intro, .section__subtittle--about{
background: var(--accent-clr);
font-family: var(--ff-secondary);
margin-bottom: 1em;
padding:.25em 1em;
}

/*header*/
nav{
    display:none;
}

/*intro section*/
.intro{
position:relative;
}

.intro--img{
    box-shadow: var(--bs);
}

.section__subtittle--intro{
    display: inline-block;
}

@media(min-width:600px) {
    .intro{
        display:grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
    }
}

.intro--img{
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
}

.section__subtittle--intro{
    align-self:start;
    grid-column: -1/1;
    grid-row: 2;
    text-align:right;
    position: relative;
    left:-.125em;
    width: calc(100%+ 1.5em);
}

/*--My services section*/
.my-services{
    background-color: var(--dark-clr) ;
   background-image: url(../img/jscode.jpg);
    color: var(--light-clr);
   /* background-blend-mode: multiply;*/
    background-size: cover;
    text-align: center;

}

.section__tittle--services{
    color: var(--accent-clr);
    position:relative;
}

.section__tittle--services::after{
    content:"";
    display: block;
    width:2em;
    height:1px;
    margin:0.5em auto 1em;
    background: currentColor;
    opacity: .25;

}

.services{
    margin-bottom: 4em;
}

.service{
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services{
        display: flex;
        max-width: 1000px;
        margin-left:auto;
        margin-right: auto;
        color:var(--light-clr);
    }

    .service + .service{
        margin-left: 2em;
    }
}


/*about Me*/
.about-me{
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img{
    box-shadow: var(--bs);
}

@media(min-width:600px){
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas:
        "tittle img"
        "subtittle img"
        "text img";

        column-gap: 2em;
    }

    .section__subtittle--about{
        grid-area: subtittle;
        grid-column: 1/-1;
        grid-row:2;
        position: relative;
        left: -1em;
        width: calc(100% +2em);
        padding-left: 4em;
        padding-right: calc(200px + 4em);
    }
    .section__tittle--about{
        grid-area:tittle;
    }
    .about-me__img{
        grid-area: img;
        position: relative;
        z-index: 2em;
    }
}

/*My work*/
.my-work{
    background-color: var(--dark-clr);
    color: var(--light-clr);
    text-align: center;
}

.section__subtittle--work{
    color: var(--accent-clr);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.portfolio{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item{
    background: var(--accent-clr);
    overflow: hidden;
}

.portfolio__img{
    width: 800px;
    height: 300px;
    transition: transform 
    750ms cubic-bezier(.5,0,.5,1),
    opacity 250ms linear;
}

.portfolio__item:focus{
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
portfolio__item:focus .portfolio__img{
transform: scale(1.2);
opacity: .5;
}